<div class="Bulletin" [ngClass]="{isLoading: loading}">
  <header>
    <h2>
      <span [innerText]="(bulletinStream | async)?.title"></span>
    </h2>
  </header>

  <button class="Bulletin-button Bulletin-button" (click)="createPost()">
    <span>Write Something</span>
  </button>

  <ng-container *ngFor="let post of postStream | async">
    <div class="Bulletin-post">
      <app-post [post]="post" (onEdit)="editPost($event)" (onDelete)="deletePost($event)" (onReply)="replyPost($event)"></app-post>
    </div>
  </ng-container>

  <!-- Not implemented
    <paginator class="bulletinPaginator" v-on:page="setPage($event)" :pageSize="page.size" :pageIndex="page.index" :pageItems="bulletin.posts.length"></paginator>
  -->

  <footer>

  </footer>
</div>
