<form [formGroup]="form" novalidate (submit)="onSubmit()">
  <div class="PostBuilder" [ngClass]="{isLoading: loading}">
    <div class="PostBuilder-formControl">
      <label>Author</label>
      <app-input class="PostBuilder-input" [field]="author">
        <input formControlName="author" placeholder="Author" />
      </app-input>
      <div class="PostBuilder-status" *ngIf="author.dirty && author.invalid">
        <span [hidden]="!author.errors.required">Required</span>
      </div>
    </div>

    <div class="PostBuilder-formControl">
      <!--<label [for]="title.key">Title</label>-->
      <app-input class="PostBuilder-input" [field]="title">
        <input [attr.id]="title.key" [attr.name]="title.key" formControlName="title" placeholder="Title" />
      </app-input>
      <div class="PostBuilder-status" *ngIf="title.dirty && title.invalid">
        <span [hidden]="!title.errors.required">Required</span>
      </div>
    </div>

    <div class="PostBuilder-formControl">
      <!--<label [for]="message.id">Message</label>-->
      <app-input class="PostBuilder-input" [field]="message">
        <textarea formControlName="message" placeholder="Enter your message..."></textarea>
      </app-input>
      <div class="PostBuilder-status" *ngIf="message.dirty && message.invalid">
        <span [hidden]="!message.errors.required">Required</span>
      </div>
    </div>

    <button class="PostBuilder-submit">
      <span>Post it</span>
    </button>
  </div>
</form>
